<form class="multi-select-form-wrapper" [formGroup]="localFormGroup">
  <label>
    Edit selectObjectsLabel
    <input [(ngModel)]="selectObjectsLabel" [ngModelOptions]="{standalone: true}">
  </label>
  <interact-multi-select formControlName="objects" [disabled]="disabled"
                         [multiSelectLabel]="selectObjectsLabel?selectObjectsLabel:''">
    <interact-multi-select-option *ngFor="let object of objectsList"
                                  [value]="object">{{object.title}}</interact-multi-select-option>
  </interact-multi-select>
  <hr>
  <label>
    Edit selectNumbersLabel
    <input [(ngModel)]="selectNumbersLabel" [ngModelOptions]="{standalone: true}">
  </label>
  <interact-multi-select formControlName="numbers" [disabled]="disabled"
                         [multiSelectLabel]="selectNumbersLabel?selectNumbersLabel:''">
    <interact-multi-select-option *ngFor="let number of numbersList"
                                  [value]="number">{{number}}</interact-multi-select-option>
  </interact-multi-select>
  <hr>
  <p>liste 1 : {{localFormGroup.controls['objects'].value}}</p>
  <p>liste 2 : {{localFormGroup.controls['numbers'].value}}</p>
  <button type="button" (click)="this.disabled = !this.disabled">{{disabled ? 'ENABLE' : 'DISABLE'}}</button>
  <button type="submit" [disabled]="localFormGroup.errors || localFormGroup.invalid">SUBMIT</button>
</form>
